<div class="comment_form">
  < <%= comments.count %>件のコメントがあります >
  <br>
  <hr>
  <br>
  <% comments.includes([:user]).each do |comment| %>
    <% unless comment.id.nil? %>
      <%= "#{comment.user.name}さん" %> ||
      ★<%= comment.content %>
      <% if comment.user == current_user %>
        || <%= link_to '削除', group_post_comment_path(comment.post.group_id, comment.post_id, comment.id), method: :delete, remote: true, class:"btn btn-default btn-xs" %>
      <% end %>
    <% end %>
    <br>
    <hr>
  <% end %>
</div>
