<div class="container">
  <div class="row">
    <div class="top_title">
    <h1>Continue</h1>
    <h4>最近、家族や幼なじみなど大切な人と疎遠になっていませんか？</h4>
    「Continue」は、生涯繋がっていたい人のみに日常を共有し、離れていてもコミュニケーションが活性化されるアプリです
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="contents col-md-6">
      <div class="top_explain">
        オンライン上で多くの人と出会い、簡単にコミュニュケーションが取れる今だからこそ、<br><br>
        昔からの家族や親友との関係を大切にしたい、と日頃から強く感じていました。<br><br>
        このアプリを使って、離れて暮らす大切な人と日々の出来事を共有することで、<br><br>
        会えていない時間の空白を埋めてくれる、温かいアプリになることを期待して設計しました。<br><br>
      </div>
    </div>
    <div class="contents col-md-6">
      <% unless user_signed_in? %>
        <ul class="top_link">
          <li><%= link_to "ログイン", new_user_session_path, class:"btn btn-warning" %></li><br>
          <li><%= link_to "ユーザー登録", new_user_registration_path, class:"btn btn-warning" %></li><br>
          <li><%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class:"btn btn-warning" %></li><br>
          <li><%= link_to '管理者ゲストログイン', users_guest_admin_sign_in_path, method: :post, class:"btn btn-warning" %></li><br>
        </ul>
      <% end %>
    </div>
  </div>
</div>
