<h3>トップページ</h3>

<div>
  <ul>
    <li>サービスの概要</li>
    <li>コンセプト</li>
    <li>機能についての説明</li>
  </ul>
</div>

<div>
  <% unless user_signed_in? %>
    <%= link_to "ログイン", new_user_session_path, class:"btn btn-outline-primary" %>
    <%= link_to "新規登録", new_user_registration_path, class:"btn btn-outline-primary" %>
    <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class:"btn btn-outline-primary" %>
    <%= link_to '管理者ゲストログイン（確認用）', users_guest_admin_sign_in_path, method: :post, class:"btn btn-outline-primary" %>
  <% end %>
</div>
