<h3 class="group_title"><%= "グループ編集 (#{@group.name}グループ)" %></h3>

<%= render 'form', group: @group %>

<div class="edit_form_back">
  <%= link_to '戻る', group_path(@group), class:"btn btn-default" %>
</div>
