<h3 class="group_title">投稿編集</h3>

<%= render 'form', post: @post %>

<div class="form_destroy">
<%= link_to '投稿削除', group_post_path(@post.group_id, @post), class:"btn btn-danger" , method: :delete, data: { confirm: '投稿を削除しますか?' } %>
</div>
<br>
<div class="edit_form_back">
  <%= link_to '戻る', group_post_path(@group, @post), class:"btn btn-default" %>
</div>
