<h3 class="post_title"><%= "日常投稿 (#{@group.name}グループ)" %></h3>

<%= render 'form', post: @post %>

<div class="edit_form_back">
  <%= link_to '戻る', group_path(@group), class:"btn btn-default btn-xs"%>
</div>
